* {
	font-size: 12px;
	font-family: hack;
}

window#waybar {
	background: transparent ;
}

#mode,
#workspaces,
#window,
#clock,
#custom-jadwal-shalat,
#custom-pipewire,
#memory,
#cpu,
#battery,
#temperature,
#network,
#idle_inhibitor,
#custom-exit,
#tray {
	padding: 2px;
	color: #60a5fa;
	background: #131516;
}
#mode {
	color: #b59f32;
	border-radius: 10px 10px 10px 10px;
}
#workspaces {
	border-radius: 15px 0px 0px 15px;
	padding: 1px;
}
#workspaces button {
	color: #b59f32;
	background: #131516;
	border-radius: 15px 15px 15px 15px;
}
#workspaces button.focused {
	color: #60a5fa;
	background: #1b1e20;
	border: 2px solid #42494c;
}
#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
}
#window {
	color: #b59f32;
	border-radius: 0px 15px 15px 0px;
}
#clock {
	color: #7c3aed;
	border-radius: 15px 0px 0px 15px;
}
#custom-jadwal-shalat {
	color: #6d28d9;
	border-radius: 0px 15px 15px 0px;
}
#custom-pipewire {
	padding: 5px 5px;
	color: #60a5fa;
	border-radius: 15px 0px 0px 15px;
}
#memory {
	padding: 5px 5px;
	color: #3b82f6;
}
#cpu {
	padding: 5px 5px;
	color: #2563eb;
}
#battery {
	padding: 5px 5px;
	color: #1d4ed8;
}
#temperature {
	padding: 5px 5px;
	color: #1e40af;
}
#network {
	padding: 5px 5px;
	color: #8b5cf6;
	border-radius: 0px 15px 15px 0px;
}
#idle_inhibitor {
	padding: 5px 5px;
	font-size: 17px;
	border-radius: 15px 0px 0px 15px;
}
#idle_inhibitor.activated {
	color: #7d6e2f;
}
#custom-exit {
	border-radius: 0px 15px 15px 0px;
}
