window {
margin: 0px;
border-radius: 10px;
background-image: linear-gradient(to right, #1b1e20  0%, #434343  51%, #1b1e20  100%);
}

#input {
margin: 10px;
border: none;
color: #f8f8f2;
border-radius: 10px;
background-image: linear-gradient(to right, #2c2f32 0%, #191919  51%, #2c2f32  100%);
}

#inner-box {
margin: 5px;
border: none;
border-radius: 10px;
background-image: linear-gradient(to right, #2c2f32 0%, #191919  51%, #2c2f32  100%);
}

#outer-box {
margin: 5px;
border: none;
border-radius: 10px;
background-image: linear-gradient(to right, #1b1e20  0%, #434343  51%, #1b1e20  100%);
}

#scroll {
margin: 5px;
border: none;
}

#text {
margin: 5px;
border: none;
border-radius: 10px;
color: #f8f8f2;
} 

#entry:selected {
border-radius: 2.5px;
background-image: linear-gradient(to right, #1b1e20 0%, #434343  51%, #1b1e20  100%);
}
